<app-auth-content>
    <!-------------------------------------- Customer Search Tile ---------------------------------->
    <!-- <div class="zoom">
        <a class="zoom-fab zoom-btn-large bg-danger text-white " [ngClass]="{'d-none':!customer}" id="back-btn"
            (click)='back()' data-toggle="tooltip" data-placement="top" title="Back to customer search"><i
                class="icon fa fa-arrow-circle-left fa-2x"></i></a>
    </div> -->
    <div id='customers'>
        <router-outlet></router-outlet>
    </div>
</app-auth-content>