<div class='row'>
    <div class='col-md-4'>
        <div class='row'>
            <div class='form-group col-md-10'>
                <label class='control-label'>Employee ID</label>
                <div class="input-group">
                    <input type="text" id='txt-id' class="form-control form-control-sm" style='cursor: auto;' #empId
                        (keyup.enter)="search(empId.value)">
                    <div class="input-group-append">
                        <span class="input-group-text alert-primary text-bold" (click)="search(empId.value)"><i
                                class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='form-group col-md-10 mb-0'>
                <label class='control-label'>Name</label>
                <input type='text' class='form-control form-control-sm bg-white' readonly
                    [ngModel]='currentRm?.STAFF_NAME'>
            </div>
        </div>
    </div>
    <div class='col-md-8'>
        <div class='row'>
            <div class='form-group col-md-3'>
                <label class='control-label'>Account Status</label>
                <br>
                <button class='toggle-button-container' style=width:80px;
                    [ngClass]="{active: currentRm?.ACTIVE_FLAG=='Active'}" (click)="setAccStatus()">
                    <div class='toggle-button-text left'>Active</div>
                    <div class='toggle-button-nob'></div>
                    <div class='toggle-button-text right'>Disable</div>
                </button>
            </div>
            <div class='form-group col-md-9 mb-0'>
                <label class='control-label'>Current role</label>
                <div class='card' style='padding:5px;display:block;'>
                    <ng-container *ngFor='let role of currentRoles; index as no'>
                        <div class="alert alert-dismissible fade show" role="alert"
                            [ngStyle]="{color: warningColor.color[no]}"
                            [style.background-color]="warningColor.background_color[no]"
                            [style.border-color]="warningColor.border_color[no]">
                            <span class='mr-3'>{{role.ROLE_DESC}}</span>
                            <button type="button" class="close" (click)="deleteRole(role.ROLE_CODE, role.ROLE_DESC)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </ng-container>
                    <button class="btn btn-outline-dark border-0 rounded-pill shadow-sm" role="alert"
                        data-toggle="modal" data-target="#user-info-main-unit-modal"><i
                            class="fa fa-plus-square mr-1"></i>Add new
                        role</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<div class='row'>
    <div class='col-md-12'>
        <span class="badge badge-pill badge-warning float-left">NOTE</span>
        &nbsp;Please enter Employee ID and press <strong>Search</strong> button to query user information
    </div>
</div>

<div class="modal fade" id="user-info-main-unit-modal" tabindex="-1" role="dialog" aria-labelledby="mainUnitLabel"
    aria-hidden="true" data-backdrop='static'>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert-info">
                <h5 class="modal-title" id="mainUnitLabel">Add new role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="collapse()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style='padding: 1rem 1rem;'>
                <button type='button' class='btn btn-info btn-sm py-1 mr-2' (click)="expand()">
                    <i class="icon fa fa-plus-square-o fa-1x text-white"></i>
                    Expand
                </button>
                <button type='button' class='btn btn-secondary btn-sm ' (click)="collapse()">
                    <i class="icon fa fa-minus-square-o fa-1x text-white"></i>
                    Collapse
                </button>
                <hr>
                <div id='lst-role'>
                    <ng-container *ngIf='units'>
                        <div class="treeview-animated">
                            <ul class="treeview-animated-list mb-3">
                                <!-- Department Level -->
                                <ng-container *ngFor='let unit of units'>
                                    <li class="treeview-animated-items" *ngIf='unit.child.length > 0'>
                                        <a class="closed">
                                            <i class="fa fa-angle-right mr-2 text-dark"></i>
                                            <span class='text-dark'><i class="fa {{unit.icon}} mr-1"></i>{{unit.unitId}}
                                                {{unit.unitName}}</span>
                                            <span class='mr-2 add-btn'>
                                                <!-- <i class="fa fa-plus-circle"></i> -->
                                                <a href="javascript:;" *ngIf='!currentRoleCodes.includes(unit.unitId)'
                                                    (click)='addRole(unit.unitId, unit.unitName)'>Add</a>
                                                <a href="javascript:;" class='text-danger'
                                                    (click)='deleteRole(unit.unitId, unit.unitName)'
                                                    *ngIf='currentRoleCodes.includes(unit.unitId)'>Remove</a>
                                            </span>
                                        </a>
                                        <ul class="nested">
                                            <!-- Sub Department Level -->
                                            <ng-container *ngFor='let child of unit.child'>
                                                <li class="treeview-animated-items" *ngIf='child.child.length > 0'>
                                                    <a class="closed"><i class="fa fa-angle-right mr-2 text-dark"></i>
                                                        <span class='text-dark ml-2'>{{child.unitId}}
                                                            {{child.unitName}}</span>
                                                        <span class='mr-2 add-btn'>
                                                            <a href="javascript:;"
                                                                *ngIf="!currentRoleCodes.includes(child.unitId)"
                                                                (click)="addRole(child.unitId, child.unitName)">Add</a>
                                                            <a href='javascript:;' class='text-danger'
                                                                (click)="deleteRole(child.unitId, child.unitName)"
                                                                *ngIf="currentRoleCodes.includes(child.unitId)">Remove</a>
                                                        </span>
                                                    </a>
                                                    <ul class="nested">
                                                        <!-- Unit Leader Level  -->
                                                        <ng-container *ngFor='let child1 of child.child'>
                                                            <li class="treeview-animated-items"
                                                                *ngIf='child1.child.length > 0'>
                                                                <a class="closed">
                                                                    <i class="fa fa-angle-right mr-3 text-dark"></i>
                                                                    <span class='text-dark'>{{child1.unitId}}
                                                                        {{child1.unitName}}</span>
                                                                    <span class='mr-2 add-btn'>
                                                                        <!-- <i class="fa fa-plus-circle"></i> -->
                                                                        <a href="javascript:;"
                                                                            *ngIf='!currentRoleCodes.includes(child1.unitId)'
                                                                            (click)="addRole(child1.unitId, child1.unitName)">Add</a>
                                                                        <a href='javascript:;' class='text-danger'
                                                                            (click)='deleteRole(child1.unitId, child1.unitName)'
                                                                            *ngIf='currentRoleCodes.includes(child1.unitId)'>Remove</a>
                                                                    </span>
                                                                </a>
                                                                <ul class="nested">
                                                                    <!-- Unit Member Level -->
                                                                    <li *ngFor='let child2 of child1.child'>
                                                                        <div class="treeview-animated-element"><i
                                                                                class="fa fa-circle-o mr-1"></i>{{child2.unitId}}
                                                                            {{child2.unitName}} (สมาชิก)
                                                                            <span class='mr-2 add-btn'>
                                                                                <a href="javascript:;"
                                                                                    *ngIf='!currentRoleCodes.includes(child2.unitId)'
                                                                                    (click)="addRole(child2.unitId, child2.unitName)">Add</a>
                                                                                <a href="javascript:;"
                                                                                    class='text-danger'
                                                                                    (click)='deleteRole(child2.unitId, child2.unitName)'
                                                                                    *ngIf='currentRoleCodes.includes(child2.unitId)'>Remove</a>
                                                                            </span>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li *ngIf='child1.child.length <= 0'>
                                                                <div class="treeview-animated-element"><i
                                                                        class="fa fa-circle-o mr-1"></i>{{child1.unitId}}
                                                                    {{child1.unitName}}
                                                                    <span class='mr-2 add-btn'>
                                                                        <a href="javascript:;"
                                                                            *ngIf="!currentRoleCodes.includes(child1.unitId)"
                                                                            (click)="addRole(child1.unitId, child1.unitName)">Add</a>
                                                                        <a href='javascript:;' class='text-danger'
                                                                            (click)='deleteRole(child1.unitId, child1.unitName)'
                                                                            *ngIf="currentRoleCodes.includes(child1.unitId)">Remove</a>
                                                                    </span>
                                                                </div>
                                                            </li>
                                                        </ng-container>
                                                    </ul>
                                                </li>
                                                <li *ngIf='child.child.length <= 0'>
                                                    <div class="treeview-animated-element"><i
                                                            class="fa fa-circle-o mr-1 ml-3"></i>{{child.unitId}}
                                                        {{child.unitName}}
                                                        <span class='mr-2 add-btn'>
                                                            <a href="javascript:;"
                                                                *ngIf='!currentRoleCodes.includes(child.unitId)'
                                                                (click)="addRole(child.unitId, child.unitName)">Add</a>
                                                            <a href='javascript:;' class='text-danger'
                                                                (click)="deleteRole(child.unitId, child.unitName)"
                                                                *ngIf='currentRoleCodes.includes(child.unitId)'>Remove</a>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </li>
                                    <li *ngIf='unit.child.length <= 0'>
                                        <div class='treeview-animated-element' style='padding-left: 0.4em;'>
                                            <i class="fa fa-angle-right mr-2" style='opacity: 0;'></i>
                                            <!-- <span class='mr-3' style='width:5.72px;display:inline-block;'></span> -->
                                            <span><i class="fa {{unit.icon}} mr-1"></i>{{unit.unitId}}
                                                {{unit.unitName}}</span>
                                            <span class='mr-2 add-btn'>
                                                <a href="javascript:;" *ngIf='!currentRoleCodes.includes(unit.unitId)'
                                                    (click)='addRole(unit.unitId, unit.unitName)'>Add</a>
                                                <a href="javascript:;" class='text-danger'
                                                    (click)='deleteRole(unit.unitId, unit.unitName)'
                                                    *ngIf='currentRoleCodes.includes(unit.unitId)'>Remove</a>
                                            </span>
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger py-1" data-dismiss="modal"
                    (click)="collapse()">Close</button>
            </div>
        </div>
    </div>
</div>