<section class="material-half-bg">
  <!-- <div class="cover"></div> -->
  <img class='cover' src="../../../assets/images/bg1.jpg">
</section>
<section class="login-content">
  <div class="logo">
    <h1>Loan Portfolio System</h1>
  </div>
  <div class="login-box">
    <div class="login-form">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
      <div class="form-group">
        <label class="control-label">USERNAME</label>
        <input class="form-control" #username type="text" autofocus (keyup.enter)="login(username, password)">
      </div>
      <div class="form-group">
        <label class="control-label">PASSWORD</label>
        <input class="form-control" #password type="password" (keyup.enter)="login(username, password)">
      </div>
      <!-- <div class="form-group">
          <div class="utility">
            <div class="animated-checkbox">
              <label>
                <input type="checkbox"><span class="label-text">Stay Signed in</span>
              </label>
            </div>
            <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
          </div>
        </div> -->
      <div class="form-group btn-container">
          <button class="btn btn-primary btn-block" (click)='login(username,password)'><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
        <!-- <a routerLink='/authentication/dashboard'><button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button></a> -->
      </div>
    </div>
    <!-- <form class="forget-form" action="index.html">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
      <div class="form-group">
        <label class="control-label">EMAIL</label>
        <input class="form-control" type="text" placeholder="Email">
      </div>
      <div class="form-group btn-container">
        <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
      </div>
      <div class="form-group mt-3">
        <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to
            Login</a></p>
      </div>
    </form> -->
  </div>
</section>

<div class='modal fade' id='selectRoleModal' tabindex="-1" role="dialog" aria-labelledby="selectRoleModalTitle" aria-hidden="true">
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-header alert-success'>
        <h5>Select Role for this session</h5>
        <!-- <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button> -->
      </div>
      <div class='modal-body'>
        <div class='list-group' role='tablist'>
          <a class='list-group-item list-group-item-action alert-success' data-dismiss='modal' *ngFor='let role of roles' (click)='selectRole(role)'>{{role.ROLE_DESC}}</a>
        </div>
      </div>
    </div>
  </div>
</div>